- question = question_as_footnote
- post = question.acting_as
.post-inline.question-inline[post]
  %h5.post-inline__title
    = link_to question, target: 'parti_detail_view' do
      #{question.title}
  = render 'posts/post_inline_footer', obj: question, show_issue: local_assigns[:show_issue]
