%section#dashboard-header-section
  .container
    .jumbotron.jumbotron-transparent
      %h4
        %i.fa.fa-at>
        = current_user.nickname
        %span{ style: 'font-weight: 100'}
          님의 대시보드
      %p
        구독 중인 이슈의 이야기와 주장을 모았습니다.