= render 'dashboard_header'

%section#issue-posts
  .container
    %section#content-tab-section
      = render 'dashboard/content_tabs', active_tab: :campaign, counts_container: current_user.watched_counts
    .issue-opinions
      = render 'opinions/cards', opinions: @opinions, issue: Issue::OF_ALL

%section#recommend-issue-section{ style: 'padding: 40px 0; background-color: #fafafa;' }
  .container
    = render 'issues/recommends', issue: Issue::OF_ALL, exclude_watched: true

