%section.issue-header-section( style="margin-top: -8px;" )
  %section#issue
    .container{ style: 'position: relative;' }
      .jumbotron.jumbotron-transparent{ style: 'margin: 0; padding: 1em 0;' }
        .row
          .col-md-9
            %h2 우선, 눈길이 가는 빠띠를 구독해보세요.
            %p.text-muted 구독하시면 메일로 매일 아침 유쾌한 민주주의가 배달됩니다.
          .col-md-3.text-center
            %a#btn-continue.btn.btn-primary.btn-lg.btn-block-xs.disabled( style="margin-top: 30px;" href="/")
              계속하기

%section#issues{ style: 'padding-top: 2em; min-height: 400px;' }
  .container
    .row
      - @unwatched_issues.each do |issue|
        .col-xs-12.col-sm-4
          = render 'issues/card', issue: issue
