- opinion = card
- post = card.acting_as
.post-card.opinion-card.panel.panel-default[post]
  .panel-body
    %h4.opinion-card__title.text-center
      = link_to opinion do
        “#{opinion.title}”

    = render 'votes/vote_inline', specific: opinion
