- opinion = opinion_as_footnote
- post = opinion.acting_as
.post-inline.opinion-inline[post]
  %h5.post-inline__title
    = link_to opinion, target: 'parti_detail_view' do
      “#{opinion.title}”
  = render 'posts/post_inline_footer', obj: opinion, show_issue: local_assigns[:show_issue]
