- content_for(:head) do
  %strong
    안녕하세요. #{@user.nickname}님!
    %br
    #{Date.yesterday.strftime("%Y년 %m월 %d일")} Parti에서 보내드리는
    %br
    유쾌한 민주주의 소식입니다.


- if @hottest_posts.any?
  %table(width="100%" style="text-align: left; margin-top: 50px;")
    %tbody
      %tr
        %td
          %h3 따끈한 글
      %tr
        %td
          = render customize_partial_path(@hottest_posts, 'post_in_email')


- if @created_posts.any?
  %table(width="100%" style="text-align: left;")
    %tbody
      %tr
        %td
          %h3 새로 올라온 글
      %tr
        %td
          = render customize_partial_path(@created_posts, 'post_in_email')
