.comments
  - if comments.empty?
    .bg-default
      %i.fa.fa-info-circle
      해당되는 글이 없습니다.
  - else
    - opinions = []
    - comments.each do |comment|
      - show_opinion = false
      - if comment.post.specific.is_a? Opinion
        - show_opinion = !opinions.include?(comment.post.specific)
        - opinions << comment.post.specific
      = render customize_partial_path(comment, 'comment_in_list'), show_issue: local_assigns[:show_issue], show_opinion: show_opinion

