.post.issue-recommends
  %h4 아래 이슈도 구독해보세요
  .owl-wrapper
    .owl-carousel{data: {ride: 'parti-carousel'}}
      - if local_assigns[:exclude_watched]
        - recommends = issue.recommends_for_watch(current_user)
      - else
        - recommends = issue.recommends
      - recommends.each do |recommend|
        .owl-item-wrapper
          .text-muted{ style: 'margin-bottom: 5px; color: #aaa;'}
            - if recommend.past_week?
              %i.fa.fa-flash
              새로운
            - elsif recommend.related_with? issue
              %i.fa.fa-code-fork
              관련된
            - else
              %i.wi.wi-fire
              따끈한
          = render 'issues/card', issue: recommend
