.bs-component
  %section#issues
    .container
      %h2.page-header
        Issues
        %small
          = link_to new_article_path, class: 'btn btn-default' do
            뉴스컬럼 쓰기
          = link_to new_opinion_path, class: 'btn btn-default' do
            주장 하기

      %ul.list-group
        = render 'issues/issue', issue: @issue_of_all
        = render @issues
