%section#issues
  .container
    .page-header
      %h2
        모든 이슈
        %small (#{Issue.count})
    .row
      - @issues.each do |issue|
        .col-xs-12.col-sm-4
          = render 'issues/card', issue: issue
