.bs-component
  %section#issues
    .container
      %h2.page-header
        Issues
        %small
          = link_to new_opinion_path, class: 'btn.btn-default' do
            주장 만들기
          = link_to new_article_path, class: 'btn.btn-default' do
            뉴스 컬럼 만들기

      %ul.list-group
        = render @issues