.bs-component
  %section#issue
    .container
      %h2.page-header
        = @issue.title
        %small
          = link_to new_article_path(issue_id: @issue.id), class: 'btn btn-default' do
            뉴스컬럼 쓰기
          = link_to new_opinion_path(issue_id: @issue.id), class: 'btn btn-default' do
            주장 하기

  %section#issue-items
    .container
      %ul.list-group
        = render @postables
