%section#issue-campaign-section{ style: "background-size: cover; background-image: url('#{@issue.cover_url}'); margin-top: -8px; height: 100%;" }
  .container
    .jumbotron.jumbotron-transparent
      %h2
        %i.fa.fa-hashtag>
        = issue.title


  %section
    .container
      여러가지 포스트가 타입별로 구분되어 큼직큼직하게 나오면 어떨까?
