= render 'issue_small_header', show_social_share: true

%section#issue-posts
  .container
    %section#content-tab-section
      = render 'issues/content_tabs', active_tab: :campaign, posts: @posts_for_filter, counts_container: @issue.counts_container
    .issue-opinions
      = render 'opinions/cards', opinions: @issue.opinions, issue: @issue
%section#recommend-issue-section{ style: 'padding: 40px 0; background-color: #fafafa;' }
  .container
    = render 'issues/recommends', issue: @issue
