- post = article.acting_as
.post-inline.article-inline[post]
  .media
    .media-left
      = render 'likes/like_inline', post: post
    .media-body
      .hidden-xs.pull-right
        .post-inline__buttons__shares{ data: { provider: 'parti-issue-share', share: { url: polymorphic_url(post.specific), text: post.specific.title} }}

      %h4.post-inline__title
        - if post.hot?
          %i.wi.wi-fire.text-danger
        = link_to article.title, article, target: 'parti_detail_view'

        - if link_to article.link.present?
          %small
            = link_to article.link, target: '_blank', class: 'text-muted' do
              %i.fa.fa-link

      = render 'posts/post_inline_footer', obj: article, show_issue: local_assigns[:show_issue]
