- if @articles.any?
  같은 링크를 걸고 있는 다른 글이 있습니다.
  %ul.list-group{ style: 'margin-top: 5px;'}
    - @articles.each do |article|
      %li.list-group-item{ style: "background: none;" }
        = link_to article.title, article
        .text-muted
          @#{article.user.nickname}
          %i.fa.fa-clock-o
          = date_f article.created_at
