.bs-component
  %section#likes
    .container
      %h2.page-header
        Likes
      = render 'post_type_filter'
  %section#issue-posts
    .container
      .row.masonry-container
        = render @postable, show_issue: true
