.bs-component
  %section#likes
    .container
      %h2.page-header
        Likes
  %section#issue-posts
    .container
      .row
        .col-sm-8
          = render 'posts_filter', posts: @posts_for_filter, hide_like_tab: true
          = render @postable, show_issue: true
        .col-sm-4
          %h4 활동하는 이슈 (#{current_user.watched_issues.count})
          = render customize_partial_path(current_user.watched_issues, 'card')
