/ = @talk.title
/ = @talk.body

/ - if can? :update, @talk
/   = link_to '수정', [:edit, @talk]
/ - if can? :destroy, @talk
/   = link_to '삭제', @talk, method: :delete

= render 'issues/issue_small_header', issue: @talk.issue

%section.talk-section
  .container
    %h2.talk__title= @talk.title

    = render 'talks/talk_header', talk: @talk

    .talk__body
      = simple_format auto_link(@talk.body)

    /.talk__likes
    /  = render 'likes/like', talk: @talk
    /  = render 'likes/like_detail', talk: @talk

/ %section.talk-comments-section
/   .container
/     = render 'comments/comments', talkable: @talk

