%section#user-header-section
  .container{ style: 'position: reltiave;' }
    .jumbotron.jumbotron-transparent{ style: 'margin: 0' }
      %div.clearfix.text-center
        = image_tag @user.image_url, style: 'width: 60px; height: 60px', class: 'img-circle'
        %h4 @#{@user.nickname}

