%section#all-issues
  .jumbotron
    .container
      %h2 꾸준히 기억하고픈 이슈들을
      %p
        우리가 잊지 않기록 다짐한 이슈들을
        %br
        작은 노력으로 꾸준히 다룰 수 있도록
      %a.btn.btn-default{href: '/i/all'} 모든 이슈

%section#featured-issues
  .jumbotron.jumbotron-transparent
    .container
      %h2 더 나은 논의와 토론으로 함께할
      %p
        이해를 위한 노력과 참여가 차곡 차곡 쌓여
        %br
        더 나은 논의와 토른을 이을 수 있도록
      %a.btn.btn-default 기본소득
      %a.btn.btn-default 20대 총선


%section#issue-commiters
  .jumbotron
    .container
      %h2 사람과 공간이 필요하다면
      %p
        이런 노력을 기울이는 사람들이 연결되어
        %br
        서로의 의지와 판단으로 흐름을 만들어 낼 수 있도록
      %a.btn.btn-default 시작해보세요.
      %a.btn.btn-default 공유하기
