%section#tag
  .container
    %h2
      %i.fa.fa-home
      내 홈
      %small(style='font-size: 50%;')
        구독하는 이슈의 글과 내
        %i.fa.fa-arrow-up
%section#issue-posts
  .container
    = render 'posts_filter', posts: @watched_posts_for_filter
    = render 'posts/list', postables: @watched_postables, show_issue: true, past_day_postables: @past_day_postables
    .text-center
      = paginate @watched_posts, theme: 'twitter-bootstrap-3'

%section#recommend-issue-section{ style: 'padding: 40px 0; background-color: #fafafa;' }
  .container
    = render 'issues/recommends', issue: Issue::OF_ALL, exclude_watched: true

