- if issue.watched_by?(current_user)
  = link_to cancel_issue_watches_path(@issue), method: :delete do
    %small{style:'color: white;'}
      %i.fa.fa-arrow-right
      그만 지켜보기
- else
  = link_to issue_watches_path(issue), method: :post do
    %small{style:'color: white;'}
      %i.fa.fa-arrow-right
      나도 지켜보기

