- if issue.watched_by?(current_user)
  = link_to cancel_issue_watches_path(@issue), method: :delete, class: 'btn btn-default', style: 'width: 8em;' do
    .toggle-hover
      .toggle-hover-item
        %i.fa.fa-eye
        구독 중
      .toggle-hover-item
        %i.fa.fa-eye-slash
        구독 취소
- else
  = link_to issue_watches_path(issue), method: :post, class: 'btn btn-default', style: 'width: 8em;' do
    구독 하기
%i.fa.fa-users
= @issue.watches.count
