#{issue.watches.count}명이 구독중입니다 &middot;
%strong
  - if user_signed_in?
    - if issue.watched_by?(current_user)
      = link_to cancel_issue_watches_path(issue), method: :delete do
        구독끊기
    - else
      = link_to issue_watches_path(issue), method: :post do
        구독하기
  - else
    = link_to new_user_session_path, data: { confirm: '이슈를 구독하면 새로운 소식을 메일로 매일 보내드립니다. 로그인 페이지로 이동하시겠습니까?'} do
      구독하기