- if issue.watched_by?(current_user)
  = link_to cancel_issue_watches_path(@issue), class: 'btn btn-default', method: :delete do
    %i.fa.fa-eye-slash
    구독 취소
- else
  = link_to issue_watches_path(issue), class: 'btn btn-default', method: :post do
    %i.fa.fa-eye
    구독 하기
