.bs-component
  %section#tag
    .container
      %h2.page-header
        \##{params[:name]}
      = render 'post_type_filter'
  %section#issue-posts
    .container
      %ul.list-group
        = render @postables, show_issue: true
