- proposal = proposal_as_footnote
- discussion = proposal.discussion
- post = proposal.acting_as
.post-inline.proposal-inline[post]
  %h5.post-inline__title
    %div
      = link_to discussion do
        #{discussion.title}
      %i.fa.fa-lightbulb-o.text-muted
    %div
      %i.fa.fa-level-up.fa-rotate-90.text-muted
      #{truncate(strip_tags(proposal.body), length: 40)}
  = render 'posts/post_inline_footer', obj: discussion, show_issue: local_assigns[:show_issue]
