.panel-footer(style='padding-top: 0; padding-bottom: 0; background-color: #fff;')
  .post-card__buttons
    .row
      .col-xs-4.text-center(style='border-right: 1px solid #ddd; padding-top: 2px;')
        = render 'likes/like_line', post: post

      .col-xs-4.text-center(style='border-right: 1px solid #ddd; padding-top: 2px;')
        .post-card__buttons__comments
          = link_to post.specific, class: 'btn btn-block' do
            %i.fa.fa-comment-o
            = post.comments_count
      .col-xs-4.text-center.text-nowrap
        .post-card__buttons__shares{ data: { provider: 'parti-issue-share', share: { url: polymorphic_url(post.specific), text: post.specific.title} }}

= render 'comments/newest_comment', postable: post
