.panel-heading
  .clearfix
    .pull-right
      - if @issue.present? && @issue.is_all?
        = link_to issue_home_path(post.issue) do
          %span.label.label-danger.post-card__issue-label
            %i.fa.fa-exclamation
            = post.issue.title

    %span= byline post.user