.panel-heading
  .row
    .col-xs-6
      %span
        = byline post.user
      %span.text-muted
        %i.fa.fa-clock-o
        = date_f post.created_at

    .col-xs-6.text-right
      - if local_assigns[:show_issue]
        = link_to issue_home_path(post.issue) do
          %span.label.label-danger.post-card__issue-label
            %i.fa.fa-exclamation
            = post.issue.title
