.panel-footer
  .post-card__buttons
    .row
      .col-xs-6
        = render 'likes/like_line', post: post
        - if post.hot?
          %i.fa.fa-fire.text-danger

      .col-xs-6.text-right
        .post-card__buttons__comments
          = link_to post.specific, class: 'btn btn-sm' do
            %i.fa.fa-comment-o
            = post.comments_count

  = render 'comments/newest_comment', postable: post
