- data = {action: 'parti-share', 'share-url': polymorphic_url(post.specific), 'share-text': "#{post.specific_desc} | 빠띠" }

- map = { facebook: data, twitter: data, 'kakao-link': data, 'kakao-story': data }

= render 'application/share', map: map