.article-section {
  padding-top: 20px;

  .article__title {
    font-weight: bold;
    padding: 0;
    margin: 10px 0;
  }

  .article__body {
    margin: 30px 0;
    font-size: 16px;
  }

  .oembedall-container {
    margin-top: 30px;
    padding: 20px;
    background-color: $gray-lighter;
    img {
      max-width: 100%;
      height: auto;
    }
    b {
      display: block;
      margin-top: 20px;
    }
  }
}

.article-card {
  .article-card__title {
    font-weight: bold;
    font-size: 18px;
  }
}