.post-comments-section {
  padding: 10px 0 30px 0;
}

.comment--inline {
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  img.user-image {
    width: 15px;
    height: 15px;
  }
  &:last-child {
    border-bottom: none;
  }
}

.comment__body {
  @include word_wrap
}

.newest_comment {
  font-size: 12px;
  .byline {
    float: left;
  }
  p {
    display: inline;
  }
}
