.comment--inline {
  margin-top: 15px;
  color: $gray-light;
  img.user-image {
    width: 15px;
    height: 15px;
  }
}

.newest_comment {
  font-size: 12px;
  .byline {
    float: left;
  }
  p { display: inline; }
}