.issue-header-actions {
  i {
    font-size: 18px;
  }
}

#issue-posts,
#issue-comments {
  padding: 20px 0;
}

#issue-comments {
  .comments {
    padding-top: 20px
  }
}

.issue {
  &__title {
    &--label a {
      color: #fff;
      font-size: $font-size-small;
      font-weight: normal;
      padding: 5px 8px;
      border-radius: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    &--question a {
      background-color: $brand-success;
    }
    &--article a {
      background-color: $brand-info;
    }
    &--opinion a {
      background-color: $brand-danger;
    }
    &--discussion a {
      background-color: $brand-primary;
    }
  }

  &__logo {
    width: 100%;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
}

.issue-header-section {
  background-color: $gray-lighter;
  .issue-logo {
    width: 90px;
    height: 90px;
    margin-right: 20px;
  }
  .issue-title {
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  .issue-count {
    padding: 5px 0 10px;
    a {
      color: $gray;
      margin-right: 5px;
    }
  }
}

.issue-card {
  .issue__meta {
    white-space: nowrap;
    float: right;
    margin-top: 10px;
    span {
      margin-right: 4px;
      font-size: 90%;
    }
  }
  &.panel.panel-default {
    height: 125px;
    overflow: hidden;
  }
}

.issue-recommends {
  h4 {
    font-weight: 200;
  }
  .owl-wrapper {
    margin: 0 25px;
  }
  .owl-carousel {
    .owl-item-wrapper {
      margin: 0 10px;
      .issue-card.panel {
        margin-bottom: 0;
      }
    }
    .owl-controls {
      height: 0;
      .owl-nav {
        .owl-prev {
          position: absolute;
          top: 45px;
          left: -35px;
        }
        .owl-next {
          position: absolute;
          top: 45px;
          right: -35px;
        }
      }
    }
  }
}
