.issue-header-actions {
  i {
    font-size: 18px;
  }
}

.issue {
  &__title {
    &--label a {
      color: #fff;
      font-size: 13px;
      font-weight: normal;
      padding: 5px 8px;
      border-radius: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    &--question a {
      background-color: $brand-success;
    }
    &--article a {
      background-color: $brand-info;
    }
    &--opinion a {
      background-color: $brand-danger;
    }
    &--discussion a {
      background-color: $brand-primary;
    }
  }

  &__logo {
    width: 100%;
    height: 4em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
}

.issue-header-section {
  .issue-header__body {
    a {
      color: #A287F9;
    }
  }
}

.issue-card {
  .issue__count {
    span {
      margin-right: 4px;
    }
  }
  &.panel.panel-default {
    height: 90px;
    overflow: hidden;
  }
}

.issue-recommends {
  &.post-card {
    .owl-wrapper {
      margin: 0 25px;
    }
    .owl-carousel {
      .owl-item-wrapper {
        margin: 0 10px;
      }
      .owl-controls {
        height: 0;
        .owl-nav {
          .owl-prev {
            position: absolute;
            top: 45px;
            left: -35px;
          }
          .owl-next {
            position: absolute;
            bottom: 45px;
            right: -35px;
          }
        }
      }
    }
  }
}
