.navbar-offcanvas {
  li.divider {
    background-color: $gray-dark;
    height: 1px;
    margin: 10px 0;
  }
  .btn-ghost.btn-primary {
    margin: 1em;
    color: $brand-primary;
  }
}

.navbar-issue {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;

  a {
    color: $navbar-default-brand-color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 50%;
  }

  img {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }
}
