.opinion-section {
  .opinion__body {
    display: none;
    margin: 30px 0;
    color: $gray-light;
    font-size: 14px;
  }
}

.opinion__vote-section {
  background: #fafafa;
  padding: 40px;
  margin: 40px 0;
}

.vote__results {
  h2, h3 {
    text-align: center;
    font-weight: 200;
    .count {
      font-weight: bold;
    }
  }
}

.opinion-card {
  blockquote {
    padding: 5px;
    border-left: 0;
    quotes: "\201C""\201D""\2018""\2019";

    p {
      display: inline;
    }

    &:before {
      color: $gray-light;
      content: open-quote;
      font-size: 3em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    &:after {
      color: $gray-light;
      content: close-quote;
      font-size: 3em;
      float: right;
    }
  }
  .opinion__title {
    margin: 0;
    font-size: 30px;
    text-align: center;
    word-break: keep-all;
  }
  .opinion__vote-section {
    padding: 15px;
  }
}

.opinion-socail-card-section {
  $socail-card-width: 1200px;
  $socail-card-height: 630px;
  background-size: cover;
  background-image: image-url('share_opinion.png');
  .container {
    max-width: $socail-card-width !important;
    width: $socail-card-width;
    height: $socail-card-height;
    padding: 0;
    margin: 0;
    display: table;
    text-align:
    center; position: relative;
    color: white;
    font-family:Spoqa Han Sans;

    .title {
      display: table-cell;
      vertical-align: middle;
      padding-top: 20px;
      font-size: 600%;
      color: white;
      font-family:Spoqa Han Sans;
    }
    .byline {
      font-size: 300%;
      position: absolute;
      bottom: 150px;
      left: 100px;
    }
  }
}

