.post {
  .panel-footer {
    font-size: 12px;
    img.user-image {
      width: 15px;
      height: 15px;
    }
  }
}
.post-bg {
  &-content {
    position: relative;
    z-index: 2;
  }

  &-article-collection {
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      bottom: -0.8em;
      right: -0.3em;
      content: "\f1ea";
      color: rgba(220, 220, 220, 0.2);
      font-size: 8em;
    }
  }

  &-article-item {
    position: relative;

    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      top: -0.5em;
      right: -0.3em;
      content: "\f1ea";
      color: rgba(220, 220, 220, 0.2);
      font-size: 15em;
    }
  }

  &-opinion-collection {
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      bottom: -0.4em;
      right: -0.3em;
      content: "\f0a1";
      color: rgba(220, 220, 220, 0.2);
      font-size: 8em;
    }
  }

  &-opinion-item {
    position: relative;

    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      top: -0.5em;
      right: -0.3em;
      content: "\f0a1";
      color: rgba(220, 220, 220, 0.2);
      font-size: 15em;
    }
  }
}

.post__likes {
  text-align: center;
  margin: 20px 0;

  .recent_likes {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
    span {
      margin-left: -10px;
    }
  }
}

.post__meta {
  margin-bottom: 10px;
}

.post__tags {
  a {
    background-color: $gray-lighter;
    color: $gray;
    font-size: 15px;
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
      background-color: $gray-light;
      color: #fff;
      text-decoration: none;
    }
  }
}

.like--line {
  margin-left: 5px;
}