.question-section {
  padding-top: 40px;
  margin-bottom: 40px;

  .question__title {
    font-weight: bold;
    padding: 0;
    margin: 10px 0;
  }

  .question__body {
    margin: 30px 0;
    font-size: 16px;
  }

  .oembedall-container {
    margin-top: 30px;
    padding: 20px;
    background-color: $gray-lighter;
    img {
      max-width: 100%;
      height: auto;
    }
    b {
      display: block;
      margin-top: 20px;
    }
  }
}
