.question-section {
  .question__body {
    margin: 30px 0;
    font-size: 16px;
  }

  .oembedall-container {
    margin-top: 30px;
    padding: 20px;
    background-color: $gray-lighter;
    img {
      max-width: 100%;
      height: auto;
    }
    b {
      display: block;
      margin-top: 20px;
    }
  }
}

.question-inline {
  .question-inline__title {
    font-size: 18px;
    font-weight: bold;
  }
  .question__answer {
    background-color: $gray-lighter;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
  }
}

.answers-section {
  background-color: $gray-lighter;
  padding: 10px 0;

  .answer-section, .new-answer-section {
    margin: 20px 0;

    .answer-item {
      background-color: white;
      padding: 30px;

      .answer-body {
        margin: 30px 0;
        font-size: 16px;
      }
    }
  }

  .new-answer-section {
    padding-top: 20px;
  }
}
