.jssocials {
  .jssocials-shares {
    margin: 5px 0;
  }
  .jssocials-share-link {
    padding: 0.2em 0.3em;
  }
  .jssocials-share-count-box {
    height: 1.5em;
    padding: 0 .4em;
    &:after {
      top: 0.3em;
    }
    .jssocials-share-count {
      line-height: 1.6em;
    }
  }
}

.share-box {
  float: right;
  margin-left: 5px;
  span.share-item {
    margin-right: .5em;
  }
  .share-kakao-link {
    margin-top: 9px;
    display: inline-block;
    width: 20px;
    height: 21px;
    background: url('/images/kakaotalk-button.png') no-repeat center;
    background-size: 20px 21px;
  }
  .share-kakao-story {
    margin-top: 9px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}