.user {
  &__image {
    width: 100%;
    height: 4em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
}

.user-header-section {
  .user-header__body {
    a {
      color: #A287F9;
    }
  }
}