.user {
  &__image {
    width: 100%;
    height: 4em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
  &__nickname--mentioned {
    color: $brand-primary;
  }
}

#dashboard-header-section {
  margin-top: -10px;
  background-color: $brand-primary;
  .jumbotron {
    padding: 20px 0 0;
    color: #fff;
    p {
      font-size: $font-size-base;
    }
    .issues {
      img {
        width: 15px;
        height: 15px
      }
      .btn {
        border: 0;
        padding: 3px 5px;
        margin-bottom: 3px;
      }
    }
  }
}

#user-header-section {
  margin-top: -10px;
  padding: 20px 0;
  background-color: $brand-primary;

  h4 {
    color: white;
  }
}

#login-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: $gray-lighter;
  z-index: 9999;
  opacity: .95;
}

#user-gallery {
  padding: 50px 0;
}
