@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '돋움', dotum, Arial, sans-serif;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 4em;
  background-color: #fff;
  margin-bottom: $footer-height;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

a {
  @include word-wrap();
  &.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}

.brand {
  margin-bottom: 1em;
  #logo {
    width: 60px;
    margin: 0 1em 1em 0;
  }
  h2 {
    margin-top: 10px;
  }
}

.container {
  max-width: 768px !important;
}

.panel {
  border-radius: 3px;
  transition: all 0.1s;
  &:hover {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.20);
  }
}

ul.list-pipeline li:not(:last-child) {
    border-right:0.2em solid #eee;
    margin-right:1em;
    padding-right:1em;
}

.jumbotron-transparent {
  background: none;
  border: none;
}

.navbar-toggle.offcanvas-toggle {
  display: block;
}

.user-image {
  width: 20px;
  height: 20px;

  h3 & {
    max-width: 30px;
    max-height: 30px;
  }
}

label.required:after {
  content: " *";
}

.btn-ghost.btn-primary {
  border: 1px solid $brand-primary;
  background-color: transparent;
  color: $brand-primary;
  &:hover {
    background-color: $brand-primary;
    color: #fff;
  }
}

.btn-block-xs {
  @media (max-width: $screen-xs-max) {
    display: block;
    width: 100%;
  }
}

.bg-default {
  color: $gray;
  background-color: $gray-lighter;
  padding: $alert-padding;
}

.valign {
  vertical-align: middle;
}

#content-tab-section {
  .nav-tabs > li {
    a {
      color: $gray;
      padding: 0px 15px;
    }
    &.active > a {
      color: #000;
    }
  }
  .post-type-filter {
    .nav-pills {
      a {
        color: $gray;
      }
      & > .active > a,
      & > .active > a:hover,
      & > li > a:hover {
        text-decoration: none;
        color: #000 !important;
        background-color: transparent !important;
      }
      .count {
        color: $brand-primary;
      }
    }
  }

}
