@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 4em;
}

.container {
  max-width: 768px !important;
}
