aside {
  & > section {
    margin-bottom: 40px;
  }
}

footer#site-footer {
  position: absolute;
  height: $footer-height;
  width: 100%;
  background-color: $navbar-inverse-bg;
  margin: 0;
  padding: 50px 0;
  bottom: 0;

  .site-footer__links {
    line-height: 1.5;
    text-align: right;
    ul {
      padding: 20px 0;
    }
    a {
      color: white;
    }
  }
}

@media(max-width:767px){
  body {
    margin-bottom: 125px;
  }
  footer#site-footer {
    height: $footer-height - 125;
    padding: 15px 0;
      .site-footer__links {
        line-height: 1.2;
        text-align: left;
        ul {
          padding: 10px 0;
          display: inline-block;
        }
      }
  }

}