aside {
  & > section {
    margin-bottom: 40px;
  }
}

footer#site-footer {
  background-color: $navbar-inverse-bg;
  margin: 0;
  padding: 50px 0;

  .site-footer__links {
    line-height: 1.5;
    text-align: right;
    ul {
      padding: 20px 0;
    }
    a {
      color: white;
    }
  }
}