// base
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "base";

// vendors
@import "bootstrap.offcanvas";
@import "selectize";
@import "selectize.bootstrap3";
@import "redactor";
@import "jquery.oembed";
@import "jssocials";
@import "jssocials-theme-flat";
@import "owl.carousel";
@import "owl.theme.default";

// layouts
@import 'layout';

// components
@import 'components/navbar';
@import 'components/issues';
@import 'components/posts';
@import 'components/articles';
@import 'components/opinions';
@import 'components/questions';
@import 'components/discussions';
@import 'components/comments';
@import 'components/users';

// pages
.popover-static .popover {
  position: relative;
  display: block;
  margin: 20px 0;
  z-index: 0;
}

.jssocials-shares {
  margin: 10px 0;
}
.jssocials-share-link {
  padding: 0.2em 0.3em;
}
.jssocials-share-count-box {
  height: 1.6em;
  padding: 0 .4em;
  &:after {
    top: 0.45em;
  }
  .jssocials-share-count {
    line-height: 1.6em;
  }
}

// jquery.oembed
.oembedall-container {
  position: relative;
  padding-bottom: 56.25% !important; /* 16:9 */
  padding-top: 25px !important;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  a {
    word-wrap: break-word;
    white-space: pre-line;
  }
}


