.email-container
  .email-header
    %a{href: 'http://parti.xyz'}
      %img{src: asset_url('logo_parti_slogan_white_2.png'), style: 'max-width: 100%;'}

  .email-content.text-center
    %p #{@resource.nickname} 님, 회원가입을 축하드려요!
    %p 이제 유쾌한 민주주의 플랫폼, 빠띠를 즐겨보세요.
    %p 아래 링크를 클릭하시면 등록하신 계정이 확인됩니다.
    %p= link_to '확인하기', confirmation_url(@resource, confirmation_token: @token), class: 'btn-email'

  = render 'devise/shared/footer'