%p #{@resource.nickname}님 안녕하세요!
%p 비밀번호를 잊으셨나요?
%p 아래 버튼을 클릭하시면 새로 비밀번호를 설정하실 수 있어요.

= link_to edit_password_url(@resource, reset_password_token: @token), class: 'btn-email' do
  비밀번호 재설정하기

%p{style: 'font-size: 9pt;'} * 비밀번호가 기억나셨다면 버튼을 누르시지 마시고 기존 번호로 로그인해보세요
