.email-container
  .email-header
    %a{href: 'http://parti.xyz'}
      %img{src: asset_url('logo_parti_slogan_white_2.png'), style: 'max-width: 100%;'}
  .email-content.text-center
    %p #{@resource.nickname}님 안녕하세요!
    %p 비밀번호를 잊으셨나요?
    %p 아래 버튼을 클릭하시면 새로 비밀번호를 설정하실 수 있어요.

    = link_to '비밀번호 재설정하기', edit_password_url(@resource, reset_password_token: @token), class: 'btn-email'

    %p.small * 비밀번호가 기억나셨다면 버튼을 누르시지 마시고 기존 번호로 로그인해보세요

  = render 'devise/shared/footer'