.container
  %h3 안녕하세요. #{@resource.nickname}님!
  %p 비밀번호 재설정 요청이 왔습니다. 아래 링크를 클릭하시면 재설정 절차를 밟게 됩니다.
  %p.text-center
    = link_to '비밀번호 재설정하기', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-danger btn-email'

  %p(style='margin-top: 2em;')
    만일 이 요청을 하시지 않았다면 무시하여 주시기 바랍니다. 위에 링크를 클릭하지 않으면 비밀번호는 그대로 유지됩니다.
