%footer#site-footer
  .container
    .row
      .col-xs-12
        .fb-page{"data-adapt-container-width" => "true", "data-hide-cover" => "true", "data-href" => "https://www.facebook.com/parti-xyz/", "data-show-facepile" => "true", "data-small-header" => "true"}