.share-box.clearfix
  - %w(facebook twitter kakao-link kakao-story).each do |provider|
    - data = map[provider.to_sym].merge('share-provider': provider)

    - if provider == 'kakao-link'
      - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
      - data = data.merge('share-image': "#{opinion_url(@opinion)}/social_card.png", 'share-image-width': '300', 'share-image-height': '158') if @opinion.present?

    %span.pull-left{class: "share-item share-#{provider}#{hide_kakao_link}", data: data }
