#shall-we-login.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content(style="max-width: 500px; width: 100%")
      .modal-body.text-center
        %div(style="font-size: 130%; line-height: 30px; padding: 30px;")
          %p.modal-message
          %P 로그인한 뒤에 계속합니다.
        .login
          = link_to omniauth_authorize_path(:user, :facebook), class: 'btn btn-primary btn-lg btn-block', style: 'margin-top: 0.5em;' do
            %i.fa.fa-facebook
            페이스북으로 계속하기
          = link_to omniauth_authorize_path(:user, :google_oauth2), class: 'btn btn-primary btn-lg btn-block', style: 'margin-top: 0.5em' do
            %i.fa.fa-google-plus
            구글플러스로 계속하기
          = link_to new_user_session_path, class: 'btn btn-primary btn-lg btn-block', style: 'margin-top: 0.5em' do
            %i.fa.fa-envelope-o
            이메일로 로그인하기

          .clearfix(style='margin-top: 20px;')
            %p.text-muted
              %i.fa.fa-info-circle
              아직 회원이 아니세요? 지금 가입하세요!
              %span(style='margin-left: 10px;')
                = link_to "회원가입", new_registration_path(:user), class: 'btn btn-default btn-sm'

      .modal-footer
        다음에 하겠습니다.
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 닫기.
